body {
  margin: 0px;
  padding: 0px;
}
.header {
  display: grid;
  grid-template-columns: 100%;
  height: 50px;
  background: #26877a;
}

.logo {
  display: block;
  width: 200px;
  cursor: pointer;
}
.banner {
  position: relative;
  display: grid;
  padding: 4em 2em;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  min-height: 200px;
  background: #eee;
}
.inner {
  top: 5px;
  padding: 1em;
  background: #bfd6d3;
  position: absolute;
  display: grid;
  grid-template-columns: minmax(220px, 220px);
  right: 10px;
}
.banner-content {
  text-align: center;
}
#more {
  display: none;
}
#readMore {
  text-decoration: underline;
  cursor: pointer;
  color: blue;
}
.dot {
  cursor: pointer;
  bottom: 10px;
  height: 15px;
  width: 15px;
  display: inline-block;
  background-color: #bbb;
  border-radius: 50%;
  margin: 0 2px;
}
ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
}
ul.breadcrumb li {
  display: inline;
  font-size: 1.2em;
}
ul.breadcrumb li + li:before {
  padding: 5px;
  color: black;
  content: ">\00a0";
}
.sub-section {
  display: grid;
  grid-template-columns: 3fr 2fr;
}
.subtitle {
  color: white;
  background: #000;
  margin: 0;
}
.content {
  background: #eee;
}

#backToTop {
  cursor: pointer;
  display: none;
  position: fixed;
  right: 30px;
  bottom: 50px;
  z-index: 99;
  background-color: red;
  color: white;
  padding: 15px;
  border-radius: 5px;
}
.footer {
  display: grid;
  text-align: center;
  grid-template-columns: 100%;
  height: 50px;
  background: #26877a;
}

@media only screen and (max-width: 768px) {
  .sub-section {
    display: grid;
    grid-template-columns: 1fr !important;
  }
  .inner {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
  }
}
